*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .logo{
    width: 20vw;
}
.nav .logo img{
     width: 20vw;
    height: 20vw;
}

body{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/37372b0c-16ef-4614-9c66-f0464ffe4136/web/IN-en-20260216-TRIFECTA-perspective_74aa38a5-f527-417e-a604-a039567a350b_large.jpg");
}

@font-face {
    font-family:"hend font";
    src: url("https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2");
}